# Directory for user to generate bootloader
/project/software/*

# Someting generated at building
/project/DE10_NANO_SoC_GHRD.qws
/project/c5_pin_model_dump.txt
/project/hps_isw_handoff/
/project/hps_sdram_p0_all_pins.txt
/project/hps_sdram_p0_summary.csv
/project/incremental_db/
/project/db/
/project/output_files/
/project/simulation/
/project/soc_system.sopcinfo
/project/soc_system/
/project/stamp/

# Exclude
!.gitkeep

